.article {
    color: #9a98a2;
    font-family: 'Source Sans Pro Regular';
}

.article__textblock {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100%;
    padding-top: 10px;
    line-height: 20px;
    font-size: 16px;
}

.article__title {
    display: block;
    color: #605f64;
    font-size: 28px;
    line-height: 60px;
    font-family: 'Source Sans Pro Light';
}

.article__text {
    letter-spacing: 0.7px;
    line-height: 25px;
}

.article__image img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px; 
}

.article__textblock_left {
    box-sizing: border-box;
    float: left;
    padding-right: 28px;
    text-align: right;
}

.article__textblock_right {
    box-sizing: border-box;
    float: right;
    padding-left: 28px;
    text-align: left;
}

.article__image_left {
    float: right;
}

.article__image_right {
    float: left;
}
