.content {
    color: #9a98a2;
}

.content__header {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4; 
    padding: 78px 19.8% 80px 19.8%;
}

.content__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 19.8% 120px 19.8%;   
}

@media screen and (max-width: 1830px) {
    .content__body {
        padding: 80px 16.8% 120px 16.8%; 
    }
}

@media screen and (max-width: 1680px) {
    .content__body {
        padding: 80px 10.8% 120px 10.8%; 
    }
}

@media screen and (max-width: 1410px) {
    .content__body {
        padding: 80px 4.8% 120px 4.8%; 
    }
}

@media screen and (max-width: 1220px) {
    .content__body {
        padding: 80px 0 120px 0; 
    }
}

@media screen and (max-width: 1024px) {
    .content__header {      
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .content__body {
        padding: 80px 15% 120px 22%;   
    }
}

@media screen and (max-width: 768px) {
    .content__header {
        flex-direction: row;  
        padding: 40px 0px 10px 0;
    }

    .content__body {
        flex-direction: column;  
        padding: 80px 30px 120px 0;  
    }
}
