.main {
    color: white;
}

.main__header {
    background: #38373b;
}

.main__title {
    padding-top: 38px;
    padding-left: 18px;
}

.main__caption {
    padding-left: 30px; 
    padding-bottom: 45px;
}