.banner {
    color: #e6e6e6;
    text-align: center;
    font-family: 'Source Sans Pro Light';
}

.banner__title {
    display: block;  
    font-size: 30px;
    letter-spacing: 5.28px; 
    white-space: 1px;
    background: #38373b; 
    text-transform: uppercase;  
    line-height: 34px; 
}

.banner__caption {
    display: block;  
    letter-spacing: 2.42px;
    font-size: 20px;
    text-transform: none;
    background: #38373b; 
}

.banner__image {
    height: 400px;
    background: url("../images/Banner.png")  no-repeat;
    background-position-x: 50%;
}

.banner__title_center {
    padding-top: 38px;
    padding-left: 18px;
}

.banner__caption_bottom {
    padding-left: 30px; 
    padding-bottom: 45px;
}
