.content {
    color: #9a98a2;
}

.content__header {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4; 
    padding: 78px 370px 80px 370px;
}

.content__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 370px 120px 370px;   
}

@media screen and (max-width: 1830px) {
    .content__header {
        padding: 80px 290px 120px 290px;
    }

    .content__body {
        padding: 80px 290px 120px 290px; 
    }
}

@media screen and (max-width: 1680px) {
    .content__body {
        padding: 80px 200px 120px 200px; 
    }
}

@media screen and (max-width: 1500px) {
    .content__header {
        padding: 80px 260px 120px 260px; 
    }

    .content__body {
        padding: 80px 110px 120px 110px; 
    }
}

@media screen and (max-width: 1320px) {
    .content__header {
        padding: 80px 220px 120px 220px; 
    }

    .content__body {
        padding: 80px 10px 120px 10px; 
    }
}

@media screen and (max-width: 1120px) {
    .content__header {
        padding: 80px 200px 120px 200px; 
    }

    .content__body {
        padding: 80px 0px 120px 0px; 
    }
}

@media screen and (max-width: 1024px) {
    .content__header {    
        padding: 30px 170px 20px 170px;  
    }

    .content__body {
        padding: 50px 150px 120px 220px;   
    }
}

@media screen and (max-width: 850px) {
    .content__header {
        padding: 30px 160px 20px 160px;  
    }
    
    .content__body {
        padding: 50px 100px 120px 160px;   
    }
}

@media screen and (max-width: 768px) {
    .content__header {
        flex-direction: row;  
        padding: 40px 0px 10px 0;
    }

    .content__body {
        flex-direction: column;  
        padding: 80px 30px 120px 0;  
    }
}
