.subblock {
    font-family: 'Source Sans Pro Regular';
}

.subblock__title {
    display: block;
    color: #e6e6e6;
    font-size: 28px;
    letter-spacing: 5px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Source Sans Pro Light';
}

.subblock input {
    box-sizing: border-box;
    width: 455px;
    height: 47px;
    border: 0;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    font-family: 'Source Sans Pro Regular';
    padding-left: 20px;
    color: white;
    background-color: #db5940;
    outline-color: white;
}

.subblock input::-webkit-input-placeholder {
    color: white;
}

.subblock input::-moz-placeholder {
    color: white;
}

.subblock input::selection {
    background-color: white;
} 

.subblock button {
    float: right;
    height: 47px;
    width: 115px;
    border: 0;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
    color: #db5940;
    background-color: #f4f4f4;
    outline-color: #db5940;
}

@media screen and (max-width: 768px) {
    .subblock input {
        float: left; 
        width: 220px;  
    }

    .subblock button {  
        float: right;      
        width: 115px;
    }
}