.contact {
    display: flex;
    flex-direction: row;
    width: 380px;
}

.contact__textblock {
    padding-top: 13px;
    padding-left: 35px;
}

.contact__text {
    letter-spacing: 0.7px;
}

.contact__image img {    
    width: 70px;
    height: 70px;
}


